@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", cursive;
  /* background-color: rgb(46, 46, 46); */
}
/* Utility Classes */

.container {
  max-width: 93vw;
  margin: 0 auto;
}

/* Navbar */
nav {
  width: 100vw;
  position: fixed;
  background: linear-gradient(black, rgba(255, 255, 255, 0));
  z-index: 99;
}
.nav {
  padding-top: 5px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 8vw;
  transform: translateY(4%);
}
.links {
  text-wrap: nowrap;
  margin-left: 20px;
}
.links a {
  font-size: 1vw;
  margin: 0 4px;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.links a:hover {
  color: rgb(167, 167, 167);
}

i {
  font-size: 1.4vw;
  color: white;
}
.sub-links a {
  font-size: 1.3vw;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.sub-links {
  text-wrap: nowrap;
  min-width: 80px;
  margin-left: 38vw;
}

/* Hero Section */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.player {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.video-container img {
  width: 100%;
}
.hero-content {
  color: aliceblue;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.hero-content-left {
  max-width: 35vw;
}

.hero-content-left h1 {
  font-size: 6rem;
  font-family: "Fragment Mono", monospace;
}

.hero-content-left p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 10px 0 30px 0;
}

.btn-play,
.btn-info {
  display: flex;
  align-items: center;
  gap: 2px;
  color: black;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 0.4vw 2vw;
  margin-right: 10px;
  border: none;
}
.hero-content-left-btn {
  display: flex;
}
.btn-play:hover {
  background-color: rgba(255, 255, 255, 0.516);
}
.btn-info {
  background-color: #808080ae;
  color: white;
  gap: 8px;
}
.btn-info:hover {
  background-color: #80808063;
}

.btn-play i {
  font-size: 2.2rem;
  color: black;
}
.btn-info i {
  font-size: 1.7rem;
}

.btm-gradient {
  height: 60px;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  position: absolute;
  transform: translateY(-60px);
}

/* Main Section */

.popular-on-netflix {
  height: 40vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.cards-title {
  color: white;
  font-size: 1.4vw;
  padding: 15px 0;
}

.card {
  width: 14vw;
  height: 10vw;
  background-color: red;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-repeat: no-repeat;

  object-fit: contain;
}

.card img {
  width: 100%;
  height: 100%;
}

.card-info {
  color: aliceblue;
  display: none;
}

.card:hover {
  border-radius: 5px;
  scale: 1.4;
}
.movie-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Footer */
footer {
  background-color: black;
}
.social-media {
  margin-left: 12vw;
}
.social-media i {
  font-size: 2vw;
  margin: 8px 7px;
}
.boilerplate-links {
  display: flex;
  justify-content: space-evenly;
}
.boilerplate-links ul {
  list-style: none;
}
.boilerplate-links .link {
  color: gray;
  margin: 20px;
  font-size: 0.9vw;
}
